<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getGuests($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let guest of currentGuests">
      <ion-avatar item-start>
        <img [src]="guest.profilePic" />
      </ion-avatar>
      <h2>{{guest.name}}</h2>
      <p>{{guest.about}}</p>
      <ion-note item-end *ngIf="guest.note">{{guest.note}}</ion-note>
    </button>
  </ion-list>
</ion-content>